GPATH
GRTAGS
__pycache__/matplot_scatter.cpython-34.pyc
__pycache__/matplot_test.cpython-34.pyc
aa.flv
bb.flv
ffmpeg.exe
gochiusa.mp4
hanayamata.mp4
hiasshuku.tiff
hiasshuku_bd.tiff
nichijo_op.mp4
nichijo_op_.mp4
out.png
python3.4m.exe.stackdump
.ipynb_checkpoints/sample_codes-checkpoint.ipynb
**/*-checkpoint.ipynb
**/*.stackdump
misc/picture/*.png
**/*.pyc
**/*.spec
**/.python-version
