GPATH
GRTAGS
__pycache__/matplot_scatter.cpython-34.pyc
__pycache__/matplot_test.cpython-34.pyc
aa.flv
bb.flv
ffmpeg.exe
gochiusa.mp4
hanayamata.mp4
hiasshuku.tiff
hiasshuku_bd.tiff
nichijo_op.mp4
nichijo_op_.mp4
out.png
python3.4m.exe.stackdump
.ipynb_checkpoints/sample_codes-checkpoint.ipynb
**/*-checkpoint.ipynb
**/*.stackdump
misc/picture/*.png
**/*.pyc
**/*.spec
**/.python-version
signal_generation/ffmpeg_tiff/img
signal_generation/ffmpeg_tiff/*.exe
signal_generation/ffmpeg_tiff/*.wav
signal_generation/ffmpeg_tiff/*.mkv
signal_generation/ffmpeg_tiff/*.hevc
signal_generation/ffmpeg_tiff/*.mp4
signal_generation/ffmpeg_tiff/*.y4m
signal_generation/test_pattern/figure/*.png
signal_generation/test_pattern/doc/~$test_pattern_spec.pptx
lib/data/6500K.icc
lib/hoge.tif
.vscode/c_cpp_properties.json
