GPATH
GRTAGS
__pycache__/matplot_scatter.cpython-34.pyc
__pycache__/matplot_test.cpython-34.pyc
aa.flv
bb.flv
ffmpeg.exe
gochiusa.mp4
hanayamata.mp4
hiasshuku.tiff
hiasshuku_bd.tiff
nichijo_op.mp4
nichijo_op_.mp4
out.png
python3.4m.exe.stackdump
.ipynb_checkpoints/sample_codes-checkpoint.ipynb
SciPy/color_convert/.ipynb_checkpoints/Color_Convert-checkpoint.ipynb
misc/picture/o_sRGB.png
misc/picture/r.png
misc/picture/r_dci.png
misc/picture/r_sRGB.png
misc/picture/saturation.png
misc/picture/saturation_dci.png
misc/picture/w.png
misc/picture/w_dci.png
opengl/10bit_viewer/.ipynb_checkpoints/OpenGL-checkpoint.ipynb
opengl/10bit_viewer/__pycache__/main.cpython-35.pyc
opengl/10bit_viewer/figure/10bit_src.jpg
opengl/10bit_viewer/img.jpg
opengl/10bit_viewer/main.spec
SciPy/color_convert/wp04_1920x1080_modify.jpg
kivy/Kivy_book/Chapter1/main.py
kivy/Kivy_book/Chapter1/widgets.kv
kivy/paint/.ipynb_checkpoints/kivy_memo-checkpoint.ipynb
misc/.python-version
misc/picture/b.png
misc/picture/b_dci.png
misc/picture/dci_profile.icc
misc/picture/g.png
misc/picture/g_dci.png
misc/picture/iPhoneから吸い出し/POYT8915.png
misc/picture/iPhoneから吸い出し/XONM5684.png
misc/picture/o.png
misc/picture/o_dci.png
sh.exe.stackdump
PyCuda/.ipynb_checkpoints/PyCuda-checkpoint.ipynb
PyCuda/Tutorial/code/__pycache__/pycuda_tutorial.cpython-35.pyc
PyCuda/Tutorial/.ipynb_checkpoints/Tutorial-checkpoint.ipynb
**/.ipynb_checkpoints/
**/__pycache__/
**/save_test.cube
**/.vscode/
**/profile_out.csv
**/*-checkpoint.ipynb
**/*.stackdump
misc/picture/*.png
**/*.pyc
**/*.spec
**/.python-version
signal_generation/ffmpeg_tiff/img
signal_generation/ffmpeg_tiff/*.exe
signal_generation/ffmpeg_tiff/*.wav
signal_generation/ffmpeg_tiff/*.mkv
signal_generation/ffmpeg_tiff/*.hevc
signal_generation/ffmpeg_tiff/*.mp4
signal_generation/ffmpeg_tiff/*.y4m
signal_generation/test_pattern/figure/*.png
signal_generation/test_pattern/doc/~$test_pattern_spec.pptx
lib/data/6500K.icc
lib/hoge.tif
.vscode/c_cpp_properties.json
signal_generation/h264_10bit_encode/img/test_img*
signal_generation/h264_10bit_encode/verify/*
**/_build/*
**/_static/*
**/_templates/*
**/*.mp4
**/__pycache__
**/staticfiles
**/local_settings.py
**/db.sqlite3
**/*.py[co]
hdr_on_sdr/data/**
misc/Markdown_de_Slide/
**/node_modules/
signal_generation/test_pattern/fonts/*.otf
OpenColorIO/aces_1.0.3/**/*.3dl
OpenColorIO/aces_1.0.3/**/*.lut
OpenColorIO/aces_1.0.3/**/*.csp
OpenColorIO/aces_1.0.3/**/*.icc
OpenColorIO/aces_1.0.3/**/*.spi1d
OpenColorIO/aces_1.0.3/**/*.spi3d
OpenColorIO/aces_1.0.3/**/*.3dl
OpenColorIO/**/*.ctl
OpenColorIO/transforms/**
OpenColorIO/manual_customize/test.spi1d
signal_generation/test_pattern/sample_dpx/*.dpx
signal_generation/test_pattern/*.tiff
signal_generation/test_pattern/*.dpx
misc/ite_chart_convert/src/*.r
misc/ite_chart_convert/src/*.g
misc/ite_chart_convert/src/*.b
